version: "3.9"

services:
#  web:
#    build: .
#    ports:
#      - "5000:5000"
#    depends_on:
#      - db
#    environment:
#      DATABASE_URL: postgresql://postgres:postgres@db:5432/postgres
#  networks:
#    - backend

  db:
    image: postgres:18.1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: finance
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - backend
    ports:   # only for dev
      - "11400:5432"

volumes:
  postgres_data:

networks:
  backend:
    driver: bridge
